.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #000;
  font-family: Inter, sans-serif;
  letter-spacing: -0.02px;
}

.address-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-right: 10px;
  padding-left: 0.5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 0.75fr;
  grid-template-columns: 1fr 0.75fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.section-2 {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.heading {
  margin-bottom: 0px;
  color: #fff;
  font-size: 40px;
  letter-spacing: -0.02ch;
}

.text-block {
  margin-top: 40px;
  color: #787878;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.05ch;
}

.text-block-2 {
  font-family: Inter, sans-serif;
  color: #959a9c;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.02ch;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px 20px 10px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.02ch;
}

.text-span {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.large-label {
  color: #959a9c;
  font-size: 8vw;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.04em;
}

.large-label.white-label {
  color: #fff;
}

.name-section {
  overflow: visible;
  margin-bottom: 1vw;
}

.contact-sction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: auto;
  padding-left: 0.5vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.image {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.image-2 {
  color: #fff;
}

.link-block {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .text-span {
    font-size: 18px;
  }

  .large-label {
    font-size: 10vw;
  }
}

@media screen and (max-width: 767px) {
  .text-block-2 {
    font-size: 14px;
  }

  .large-label {
    font-size: 10vw;
  }
}

@media screen and (max-width: 479px) {
  .address-section {
    padding-right: 2px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading {
    line-height: 1;
  }

  .text-block {
    line-height: 1;
  }

  .text-block-2 {
    font-size: 12px;
  }

  .text-span {
    font-size: 16px;
  }

  .large-label {
    font-size: 10vw;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}